body{
    background-color: rgb(240, 240, 224);
}

.hero-img{
    background-image: url(https://images.unsplash.com/photo-1627962479504-8da0e64b2565?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-position: center;
    background-size: cover;
    padding-top: 80vh!important;
    margin-bottom: 10vh;
}

.underline{
    border-bottom: solid 8px black;
    align-items: center;
    max-width: 30%;
    border-radius: .2em;
}

.writing{
    font-size: 20px;
}

img:hover{
    box-shadow: 50px;
}

.testimony{
    font-size: 20px;
}

.topspace{
    margin-top: 1em;
}